.employee-card {
    margin: 3%;
    display: flex;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    height: 100px;
    position: relative;
}

.image-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.placeholder-image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    color: #666;
}
.info-container {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.employee-name {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.employee-detail {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.more-info-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    align-self: flex-start;
}

.star-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}
.gray {
    color: #b6b4b4;
}

/* כאשר ה-state הוא false */
.yellow {
    color: #f8f806;
}