/* כללי עיצוב ה-Footer */
.footer-container {
    background-color: #f8f9fa; /* צבע רקע רך */
    color: #343a40; /* צבע טקסט כהה */
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #e9ecef; /* קו עדין למעלה */
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.footer-container p {
    margin: 0;
}

.footer-container:hover {
    background-color: #e9ecef; /* שינוי צבע רקע בעת מעבר עכבר */
    color: #212529; /* שינוי צבע טקסט בעת מעבר עכבר */
}

@media (max-width: 768px) {
    .footer-container {
        font-size: 0.9em;
        padding: 15px 0;
    }
}
