.navbar-container {
    width: 100%;
    background-color: rgba(21, 21, 21, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-container.scrolled {
    background-color: #252525;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1em 1em;
    max-width: 1000px;
    margin: 0 auto;
}

.navbar-logo img {
    height:80px;
    width: auto;
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 2em;
    padding: 0;
    margin: 0;
}

.navbar-item a {
    text-decoration: none;
    color: #dfdfdf;
    font-size: 1.3em;
    transition: color 0.3s;
}

.navbar-item a:hover {
    color: #007BFF;
}

/* Responsive Design */
@media (max-width: 768px) {

    .navbar {
        justify-content: space-between;
    }
}

@media (max-width: 480px) {
    .navbar-logo img {
        height: 40px;
    }

    .navbar-container {
        padding: 0.5em;
    }
}
